auth/
commands
configmap.yaml
crash.log
.env
localhost.yaml
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.retry
secrets.yaml
*tfplan*
*.tfvars
.terraform*
terraform.tfstate.backup
*.tfstate
.tfstate.*
variables.tf


