auth/
backend.tf
commands
configmap.yaml
crash.log
.env
localhost.yaml
override.tf
override.tf.json
*_override.tf
*_override.tf.json
problems
*.retry
secrets.yaml
*tfplan*
*.tfvars
.terraform*
terraform.tfstate.backup
*.tfstate
.tfstate.*
todo
variables.tf


