cluster_name = "{{ terraform[env].cluster_name }}"
credentials = "{{ terraform[env].credentials }}"
initial_node_count = "{{ terraform[env].initial_node_count }}"
machine_type = "{{ terraform[env].machine_type }}"
node_count = "{{ terraform[env].node_count }}"
node_name = "{{ terraform[env].node_name}}"
project = "{{ terraform[env].project }}"
region = "{{ terraform[env].region }}"
preemptible = "{{ terraform[env].project }}"